
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/c语言' style='font-size: 102.85714285714286%'>C语言(1)</a>  <a href='/blog/categories/git' style='font-size: 108.57142857142857%'>Git(3)</a>  <a href='/blog/categories/linux' style='font-size: 125.71428571428572%'>Linux(9)</a>  <a href='/blog/categories/notes' style='font-size: 160.0%'>Notes(21)</a>  <a href='/blog/categories/octopress' style='font-size: 108.57142857142857%'>Octopress(3)</a>  <a href='/blog/categories/others' style='font-size: 102.85714285714286%'>Others(1)</a>  <a href='/blog/categories/python' style='font-size: 102.85714285714286%'>Python(1)</a>  <a href='/blog/categories/vim' style='font-size: 108.57142857142857%'>Vim(3)</a>  <a href='/blog/categories/wsn' style='font-size: 102.85714285714286%'>Wsn(1)</a> </span>
</section>

