
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/c语言' style='font-size: 102.3076923076923%'>C语言(1)</a>  <a href='/blog/categories/git' style='font-size: 106.92307692307692%'>Git(3)</a>  <a href='/blog/categories/linux' style='font-size: 120.76923076923077%'>Linux(9)</a>  <a href='/blog/categories/notes' style='font-size: 160.0%'>Notes(26)</a>  <a href='/blog/categories/octopress' style='font-size: 109.23076923076923%'>Octopress(4)</a>  <a href='/blog/categories/others' style='font-size: 102.3076923076923%'>Others(1)</a>  <a href='/blog/categories/python' style='font-size: 102.3076923076923%'>Python(1)</a>  <a href='/blog/categories/vim' style='font-size: 113.84615384615384%'>Vim(6)</a>  <a href='/blog/categories/wsn' style='font-size: 102.3076923076923%'>Wsn(1)</a> </span>
</section>

