
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/c语言' style='font-size: 102.72727272727273%'>C语言(1)</a>  <a href='/blog/categories/git' style='font-size: 108.18181818181819%'>Git(3)</a>  <a href='/blog/categories/linux' style='font-size: 132.72727272727272%'>Linux(12)</a>  <a href='/blog/categories/notes' style='font-size: 160.0%'>Notes(22)</a>  <a href='/blog/categories/octopress' style='font-size: 102.72727272727273%'>Octopress(1)</a>  <a href='/blog/categories/others' style='font-size: 102.72727272727273%'>Others(1)</a>  <a href='/blog/categories/python' style='font-size: 102.72727272727273%'>Python(1)</a>  <a href='/blog/categories/vim' style='font-size: 102.72727272727273%'>Vim(1)</a>  <a href='/blog/categories/wsn' style='font-size: 102.72727272727273%'>Wsn(1)</a> </span>
</section>

