
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/c语言'>C语言 (1)</a></li>
  <li><a href='/blog/categories/git'>Git (3)</a></li>
  <li><a href='/blog/categories/linux'>Linux (8)</a></li>
  <li><a href='/blog/categories/notes'>Notes (21)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (4)</a></li>
  <li><a href='/blog/categories/others'>Others (1)</a></li>
  <li><a href='/blog/categories/python'>Python (1)</a></li>
  <li><a href='/blog/categories/vim'>Vim (4)</a></li>
  <li><a href='/blog/categories/wsn'>Wsn (1)</a></li>
</ul>
</section>

